{
  "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg-tool/main/docs/vcpkg.schema.json",
  "name": "{{ ss_cmake_repo_name }}",
  "description": "{{ ss_cmake_project_description }}",
  "builtin-baseline": "89dc8be6dbcf18482a5a1bf86a2f4615c939b0fb",
  "homepage": "https://{{ ss_cmake_repo_url }}",
  "dependencies": [
[%- if ss_cmake_use_conan == true %]
    "cmake-conan",
[%- endif %]
[%- if ss_cmake_use_cpm == true %]
    "cmake-cpm",
[%- endif %]
    "cmake-modules",
    "robotology-cmake-ycm"
  ],
  "overrides": [
[%- if ss_cmake_use_conan == true %]
    {
      "name": "cmake-conan",
      "version": "0.18.1"
    },
[%- endif %]
[%- if ss_cmake_use_cpm == true %]
    {
      "name": "cmake-cpm",
      "version": "0.38.6#2"
    },
[%- endif %]
    {
      "name": "cmake-modules",
      "version": "1.6.14"
    },
    {
      "name": "robotology-cmake-ycm",
      "version": "0.16.3"
    }
  ],
  "vcpkg-configuration": {
    "registries": [
      {
        "kind": "git",
        "baseline": "5909aec4d2a472ab4c734832c7391926bce7ce18",
        "repository": "https://github.com/msclock/cmake-registry",
        "packages": [
[%- if ss_cmake_use_conan == true %]
          "cmake-conan",
[%- endif %]
[%- if ss_cmake_use_cpm == true %]
          "cmake-cpm",
[%- endif %]
          "cmake-modules",
          "robotology-cmake-ycm",
          "vcpkg-cmake-module"
        ]
      }
    ],
    "overlay-ports": [
      "cmake/vcpkg/ports"
    ],
    "overlay-triplets": [
      "cmake/vcpkg/triplets"
    ]
  }
}
